@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');
* {
    font-family: 'Source Serif Pro', serif;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    margin: 0 auto;
}
.wrapper {
    margin: 0 auto;
    /*width: 600px;*/
    /*border: 1px solid #333;*/
    padding: 32px;
}

/*header*/
.header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo {
    grid-column: 1/3;
}
.logo img {
    width: 100px;
}
.meta {
    border-collapse: collapse;
}
.meta th {
    background: darkgray;
}
.meta th, .meta td {
    padding: 8px;
    border: 1px solid #808080;
}

.info {
    grid-column: 1/3;
    width: 100%;
    border: 1px solid #808080;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.info-right {
    padding: 12px;
    border-left: 1px solid #808080;
}
.info-left {
    padding: 12px;
}

.goods {
    width: 100%;
    border-collapse: collapse;
}
.goods th {
    background: darkgray;
}
.goods th, .goods td {
    padding: 8px;
    border: 1px solid #808080;
}

.goods tbody td {
    border-bottom: 1px solid transparent;
}
.goods tbody tr:last-child td {
    border-bottom: 1px solid #808080;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.bold {
    font-weight: bold;
}

.bottom {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: start;
    justify-content: space-between;
}
.signature {
    text-align: center;
    margin-top: 60px;
}
.signature-caption {
    margin-top: 60px;
}
.signature-caption .name {
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
    line-height: 1;
}

.note {
    margin-top: 60px;
}
